<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alzheimer</title>
</head>
<body>
    <h1>Website under construction</h1>
    <h1>Alzheimer</h1>
    <p>Alzheimer's disease is a progressive disorder that causes brain cells to waste away (degenerate) and die. Alzheimer's disease is the most common cause of dementia — a continuous decline in thinking, behavioral and social skills that disrupts a person's ability to function independently.</p>
    <p>Alzheimer's disease is currently ranked as the sixth leading cause of death in the United States, but recent estimates indicate that the disorder may rank third, just behind heart disease and cancer, as a cause of death for older people.</p>
    <img src="https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2023/02/01/20/24/healthy-brain-and-brain-with-alzheimers-8-col-3398230-002-0.jpg" alt="Alzheimer's Disease Facts and Figures Infographic">

</body>
</html>