<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Image by URL</title>
</head>
<body>
    <h1>Fetch an Image by URL</h1>
    <form action="/fetch" method="post">
        <label for="url">Enter the image URL:</label><br>
        <input type="text" name="url" id="url" required placeholder="https://example.com/image.png"><br><br>
        <input type="submit" value="Fetch Image">
    </form>
</body>
</html>
